---
import Menu2 from "../layouts/Menu2.astro";
import { Icon } from 'astro-icon/components'
---

<Menu2 title="RazonaPro">
    <section
        id="main"
        class="ml-64 p-5 transition-all duration-500 ease-in-out ">
            <section class="w-full p-10 bg-white rounded items-center justify-center">
                <div class="items-center justify-center flex mb-10">
                    <h1 class="text-3xl font-bold ">Crea o unete a una sala</h1>
                </div>
                <div class="flex items-center justify-center space-x-56">
                    <a href="" class="items-center justify-center flex mt-10">
                        <button class="bg-green-700 w-60 h-16 rounded-xl text-2xl text-white font-semibold hover:bg-opacity-90">Crear sala</button>
                    </a>
                    <a href="" class="items-center justify-center flex mt-10">
                        <button class="bg-blue-700 w-60 h-16 rounded-xl text-2xl text-white font-semibold hover:bg-opacity-90">Unete a una sala</button>
                    </a>
                </div>
            </section>    
    </section>
</Menu2>
<script src="/src/layouts/script.js"></script>
<style>
    .mini-main-i {
        margin-left: 80px;
    }
</style>