---
import Menu from "../layouts/Menu.astro";
---

<Menu title="RazonaPro">
    <section
        id="main"
        class="ml-64 p-5 transition-all duration-500 ease-in-out">
        <p class="text-3xl">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
            eligendi aut nihil magnam libero fugiat nobis pariatur nulla
            recusandae sint ipsa minus dicta voluptatum deleniti minima iste
            soluta, velit voluptatibus.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
            eligendi aut nihil magnam libero fugiat nobis pariatur nulla
            recusandae sint ipsa minus dicta voluptatum deleniti minima iste
            soluta, velit voluptatibus.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
            eligendi aut nihil magnam libero fugiat nobis pariatur nulla
            recusandae sint ipsa minus dicta voluptatum deleniti minima iste
            soluta, velit voluptatibus.
        </p>
    </section>
</Menu>
<script src="/src/layouts/script.js"></script>
<style>
    .mini-main-i {
        margin-left: 80px;
    }
</style>
