---
import Menu2 from "../layouts/Menu2.astro";
import { Icon } from 'astro-icon/components'
---

<Menu2 title="RazonaPro">
    <section
        id="main"
        class="ml-64 p-5 transition-all duration-500 ease-in-out ">
            <section class="w-full p-10 bg-white rounded items-center justify-center flex">
                    <div class="fondo text-white rounded-lg shadow-lg p-6 w-full max-w-xl">
                      <h2 class="text-center text-xl font-bold mb-4">Top 10 Resultados</h2>
                      <ul>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">1</span>
                            <span>
                              <p class="font-medium">Santiago García Aguirre</p>
                              <p class="text-sm text-green-300">12 de noviembre de 202</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">02:56 min</p>
                            <p class="text-sm text-green-300">100 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">2</span>
                            <span>
                              <p class="font-medium">Domingo Reyes</p>
                              <p class="text-sm text-green-300">25 de octubre de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">03:15 min</p>
                            <p class="text-sm text-green-300">100 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">3</span>
                            <span>
                              <p class="font-medium">Ana rosa Miranda ramirez</p>
                              <p class="text-sm text-green-300">24 de Septiembre de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">04:18 min</p>
                            <p class="text-sm text-green-300">100 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">4</span>
                            <span>
                              <p class="font-medium">cristian zuluaga</p>
                              <p class="text-sm text-green-300">15 de Septiembre de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">66:43 min</p>
                            <p class="text-sm text-green-300">100 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">5</span>
                            <span>
                              <p class="font-medium">Lvalenlu</p>
                              <p class="text-sm text-green-300">12 de Marzo de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">67:10 min</p>
                            <p class="text-sm text-green-300">100 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">6</span>
                            <span>
                              <p class="font-medium">Nicol coral</p>
                              <p class="text-sm text-green-300">5 de Septiembre de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">02:10 min</p>
                            <p class="text-sm text-green-300">97 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">7</span>
                            <span>
                              <p class="font-medium">Maria fernanda</p>
                              <p class="text-sm text-green-300">22 de Junio de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">02:44 min</p>
                            <p class="text-sm text-green-300">97 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">8</span>
                            <span>
                              <p class="font-medium">jairo escobar</p>
                              <p class="text-sm text-green-300">14 de Septiembre de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">04:45 min</p>
                            <p class="text-sm text-green-300">97 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">9</span>
                            <span>
                              <p class="font-medium">MarcoAntonioPeralta</p>
                              <p class="text-sm text-green-300">11 de Julio de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">02:35 min</p>
                            <p class="text-sm text-green-300">94 PUNTOS</p>
                          </div>
                        </li>
                        <li class="flex items-center justify-between border-b border-blue-200 py-2">
                          <span class="flex items-center">
                            <span class="bg-orange-500 text-white rounded-full w-8 h-8 flex items-center justify-center font-bold mr-3">10</span>
                            <span>
                              <p class="font-medium">Juanse.V</p>
                              <p class="text-sm text-green-300">25 de Mayo de 2024</p>
                            </span>
                          </span>
                          <div class="text-right">
                            <p class="font-bold">32:11 min</p>
                            <p class="text-sm text-green-300">94 PUNTOS</p>
                          </div>
                        </li>
                      </ul>
                      <div class="text-center mt-4">
                        <p class="text-sm text-green-300">
                          ¿Quieres aparecer en el Top 10? 
                          <a href="#" class="text-blue-200 hover:underline">Usa a Brain</a>
                        </p>
                      </div>
                    </div>
            </section>    
    </section>
</Menu2>
<script src="/src/layouts/script.js"></script>
<style>
    .mini-main-i {
        margin-left: 80px;
    }
    .girar{
        @apply rotate-180
    }
    .fondo{
        background: hsla(240, 100%, 37%, 1);

background: linear-gradient(90deg, hsla(240, 100%, 37%, 1) 0%, hsla(253, 86%, 63%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(240, 100%, 37%, 1) 0%, hsla(253, 86%, 63%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(240, 100%, 37%, 1) 0%, hsla(253, 86%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0000BB", endColorstr="#714EF2", GradientType=1 );
    }
</style>