---
import Menu3 from "../layouts/Menu3.astro";
---

<Menu3 title="RazonaPro" />
<body class="bg-gray-100 min-h-screen flex items-center justify-center p-4">
  <div class="bg-white rounded-lg p-6 w-full px-60">
    <div>
      <div class="flex justify-between items-center mb-4">
        <h1 class="text-lg font-bold">Pregunta 1: Competencias ciudadanas</h1>
      </div>
      <p class="text-gray-700 mb-4">
        Según el artículo 1° de la constitución política de 1991, “Colombia es
        un estado social de derecho, organizado en forma de República unitaria,
        descentralizada, con autonomía de sus entidades territoriales,
        democrática, participativa y pluralista, fundada en el respeto de la
        dignidad humana, en el trabajo y la solidaridad de las personas que la
        integran y en la prevalencia del interés general”. Para que el gobierno
        sea al mismo tiempo unitario y descentralizado, se considera que:
      </p>
      <form class="space-y-2">
        <label
          class="block p-4 border border-green-600 rounded-lg bg-green-300 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="A" class="hidden" />
          A. Es unitario en lo político solo hay un congreso y es descentralizada
          en lo administrativo.
          <div class="space-y-4 mt-6">
            <span>Explicación:</span>
            <p>
              Estado unitario: Significa que existe un único centro de poder
              político (en este caso, el Congreso, que dicta las leyes para todo
              el territorio nacional).
            </p>
            <p>
              Descentralización administrativa: Implica que las entidades
              territoriales (departamentos, municipios, distritos) tienen
              autonomía en aspectos administrativos, como la gestión de recursos
              y la toma de decisiones locales dentro de los límites establecidos
              por la Constitución y las leyes.
            </p>
          </div>
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="B" class="hidden" />
          B. El presidente, decide todo sin tomar parecer, en todo tema.
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="C" class="hidden" />
          C. Existe un legislativo que dicta las leyes a las que está sujeta toda
          la república.
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="D" class="hidden" />
          D. Cada región tiene cierto nivel de autonomía para hacerse su propia legislación
          en todas o algunas materias.
        </label>
      </form>
    </div>
    <div class="mt-14">
      <div class="flex justify-between items-center mb-4">
        <h1 class="text-lg font-bold">Pregunta 2 Lectura crítica.</h1>
      </div>
      <div class="text-gray-700 mb-4 space-y-4">
        <p>“EL INCONTENIBLE ASCENSO DE LO POSMODERNO”</p>
        <p>
          “Como resultado de un efecto de divulgación, y a nivel de los gustos y
          preferencias, dentro del proceso de dinamización de la cultura, donde
          las modas se convierten en suelo nutricio para los diversos niveles de
          ese proceso, el posmodernismo puede haber alcanzado ese estatus: el de
          una moda generalizada. Su proliferación como clisé permite afirmarlo.
          En un artículo de 1990 cuyo tema es “Nueva sensibilidad y horizonte
          post- en Chile”, Bernardo Subercaseaux describe ese fenómeno:
        </p>
        <p>
          “El término “posmoderno” es hoy por hoy un término polivalente y de
          multiuso. Está presente en la academia y en los periódicos, en la
          crítica literaria o artística y hasta en las crónicas políticas o
          sociales. Se le encuentra en Europa, Estados Unidos y también, aunque
          en menor grado, en América Latina. Se utiliza para describir una
          película de Pedro Almodóvar, una novela de Alfredo Bryce Echenique, un
          determinado tipo de barba, la decoración de una pieza, la postura
          epistemológica que privilegia la conciencia pragmática frente a la
          utópica, el comportamiento iconoclasta frente a las jerarquías, el
          corte de un traje, el estilo de un edificio o incluso a veces, en el
          lenguaje cotidiano, para referirse a una situación inusitada que
          produce desconcierto… Es por lo tanto un término laxo, de semanticidad
          difusa, que funciona a distintos niveles y que apunta más a una
          atmósfera que a un significado preciso. Su uso y abuso, sin embargo,
          es indicio de que un número creciente de personas con intereses
          diversos perciben que hay algo lo suficientemente significativo en el
          término “posmoderno” como para utilizarlo. Indica también la carencia
          de otra voz que connote lo que ese término connota. Su polivalencia y
          multiuso pueden leerse por ende como señales de complejidad
          semántica.”
        </p>
      </div>
      <form class="space-y-2">
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="A" class="hidden" />
          A. Su uso excesivo límite a la palabra a ciertos esquemas científicos.
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="B" class="hidden" />
          B. Se recurra a constituirse en un término polivalente y pierda validez.
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="C" class="hidden" />
          C. Después de convertirse en una moda termina por desgastarse en su uso
          y desaparezca.
        </label>
        <label
          class="block p-4 border border-green-600 rounded-lg bg-green-300 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="D" class="hidden" />
          D. La función del término como ente que designa se desvirtúe.
          <div class="space-y-4 mt-6">
            <span>Explicación:</span>
            <p>
              Cuando un término como "posmoderno" se utiliza para describir una
              variedad tan amplia de fenómenos, desde estilos artísticos hasta
              cortes de traje o situaciones desconcertantes, su función como
              término que designa un concepto específico se desvirtúa. Esto
              ocurre porque pierde precisión semántica y pasa a ser un concepto
              "laxo", como menciona el texto, convirtiéndose en un término de
              uso generalizado pero carente de un significado claro y definido.
            </p>
          </div>
        </label>
      </form>
    </div>
    <div class="mt-14">
      <div class="flex justify-between items-center mb-4">
        <h1 class="text-lg font-bold">Pregunta 3 Razonamiento cuantitativo.</h1>
      </div>
      <div class="text-gray-700 mb-4 space-y-4">
        <p>“EL INCONTENIBLE ASCENSO DE LO POSMODERNO”</p>
        <p>
          En un campamento de expedición en el Amazonas se lleva el registro del
          número de personas con dengue por cada mes, la información es mostrada
          en la siguiente tabla:
        </p>
        <img src="/public/tabla.png" alt="" />
        <p>
          Los estudiantes de enfermería de la Universidad de Santiago de Chile
          que decidieron efectuar un estudio del campamento, observan el número
          de personas con dengue en el mes de marzo respecto al total de
          personas con la enfermedad e infieren acertadamente que el porcentaje
          de personas con dengue en este mes es mayor al:
        </p>
      </div>
      <form class="space-y-2">
        <label
          class="block p-4 border border-green-600 rounded-lg bg-green-300 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="A" class="hidden" />
          A. 15% e inferior al 17%
          <div class="space-y-4 mt-6">
            <span>Explicación:</span>
            <p>
              El porcentaje de personas con dengue en marzo se calcula
              dividiendo el número de casos en ese mes (12) entre el total de
              casos registrados entre enero y agosto (80), y multiplicando por
              100. Esto da exactamente 15%, que es mayor al 15% pero no llega al
              17%, por lo que corresponde a la opción A.
            </p>
          </div>
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="B" class="hidden" />
          B. 16% e inferior al 18%
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="C" class="hidden" />
          C. 13% e inferior al 15%
        </label>
        <label
          class="block p-4 border border-gray-300 rounded-lg hover:bg-gray-50 cursor-pointer"
        >
          <input type="radio" name="respuesta" value="D" class="hidden" />
          D. 14% e inferior al 16%
        </label>
      </form>
    </div>
    <a href="/principal" class="items-center justify-center flex mt-10">
      <button
        class="bg-blue-700 w-60 h-16 rounded-xl text-2xl text-white font-semibold hover:bg-opacity-90"
        >Salir</button
      >
    </a>
  </div>
</body>
