---
import Menu2 from "../layouts/Menu2.astro";
import { Icon } from 'astro-icon/components'
---

<Menu2 title="RazonaPro">
    <section
        id="main"
        class="ml-64 p-5 transition-all duration-500 ease-in-out">
            <section class="w-full p-10 bg-white rounded">
               <div class="flex justify-between items-center">
                <a href="/examen" class="w-[300px] h-[270px] shadow-xl rounded-lg border cursor-pointer">
                    <div class="fondo w-full rounded-t-lg items-center justify-center flex h-[160px]">
                        <Icon class="text-white size-20" name="tabler:math-integral-x" />
                    </div>
                    <div class="p-2">
                        <span class="text-xl font-bold">Razonamiento Cuantitativo</span>
                    </div>
                    <div class="flex justify-between items-center p-2 mt-3">
                        <div class="flex gap-1">
                            <Icon class="text-gray-500" name="zondicons:question" />
                            <p class="text-sm">100 Preguntas</p>
                        </div>
                        <div class="flex gap-[2px] text-blue-500">
                            <Icon class="size-6" name="mdi:play-outline" />
                            <span>Realizar Prueba</span>
                        </div>
                    </div>
                </a>
                <div class="w-[300px] h-[270px] shadow-xl rounded-lg border cursor-pointer">
                    <div class="fondo2 w-full rounded-t-lg items-center justify-center flex h-[160px]">
                        <Icon class="text-white size-20" name="mdi:home-city" />
                    </div>
                    <div class="p-2">
                        <span class="text-xl font-bold">Competencias Ciudadanas</span>
                    </div>
                    <div class="flex justify-between items-center p-2 mt-3">
                        <div class="flex gap-1">
                            <Icon class="text-gray-500" name="zondicons:question" />
                            <p class="text-sm">100 Preguntas</p>
                        </div>
                        <div class="flex gap-[2px] text-blue-500">
                            <Icon class="size-6" name="mdi:play-outline" />
                            <span>Realizar Prueba</span>
                        </div>
                    </div>
                </div>
                <div class="w-[300px] h-[270px] shadow-xl rounded-lg border cursor-pointer">
                    <div class="fondo3 w-full rounded-t-lg items-center justify-center flex h-[160px]">
                        <Icon class="text-white size-20" name="mdi:book-open-variant" />
                    </div>
                    <div class="p-2">
                        <span class="text-xl font-bold">Lectura Critica</span>
                    </div>
                    <div class="flex justify-between items-center p-2 mt-3">
                        <div class="flex gap-1">
                            <Icon class="text-gray-500" name="zondicons:question" />
                            <p class="text-sm">100 Preguntas</p>
                        </div>
                        <div class="flex gap-[2px] text-blue-500">
                            <Icon class="size-6" name="mdi:play-outline" />
                            <span>Realizar Prueba</span>
                        </div>
                    </div>
                </div>
               </div>
               <div class="flex justify-between items-center mt-8">
                <div class="w-[300px] h-[270px] shadow-xl rounded-lg border cursor-pointer">
                    <div class="fondo4 w-full rounded-t-lg items-center justify-center flex h-[160px]">
                        <Icon class="text-white size-20" name="clarity:language-solid" />
                    </div>
                    <div class="p-2">
                        <span class="text-xl font-bold">Ingles</span>
                    </div>
                    <div class="flex justify-between items-center p-2 mt-3">
                        <div class="flex gap-1">
                            <Icon class="text-gray-500" name="zondicons:question" />
                            <p class="text-sm">100 Preguntas</p>
                        </div>
                        <div class="flex gap-[2px] text-blue-500">
                            <Icon class="size-6" name="mdi:play-outline" />
                            <span>Realizar Prueba</span>
                        </div>
                    </div>
                </div>
                <div class="w-[300px] h-[270px] shadow-xl rounded-lg border cursor-pointer">
                    <div class="fondo5 w-full rounded-t-lg items-center justify-center flex h-[160px]">
                        <Icon class="text-white size-20" name="clarity:form-line" />
                    </div>
                    <div class="p-2">
                        <span class="text-xl font-bold">Comunicacion Escrita</span>
                    </div>
                    <div class="flex justify-between items-center p-2 mt-3">
                        <div class="flex gap-1">
                            <Icon class="text-gray-500" name="zondicons:question" />
                            <p class="text-sm">100 Preguntas</p>
                        </div>
                        <div class="flex gap-[2px] text-blue-500">
                            <Icon class="size-6" name="mdi:play-outline" />
                            <span>Realizar Prueba</span>
                        </div>
                    </div>
                </div>
                <div class="w-[300px] h-[270px] shadow-xl rounded-lg border cursor-pointer">
                    <div class="fondo6 w-full rounded-t-lg items-center justify-center flex h-[160px]">
                        <Icon class="text-white size-20" name="f7:tray-full" />
                    </div>
                    <div class="p-2">
                        <span class="text-xl font-bold">Prueba Completa</span>
                    </div>
                    <div class="flex justify-between items-center p-2 mt-3">
                        <div class="flex gap-1">
                            <Icon class="text-gray-500" name="zondicons:question" />
                            <p class="text-sm">500 Preguntas</p>
                        </div>
                        <div class="flex gap-[2px] text-blue-500">
                            <Icon class="size-6" name="mdi:play-outline" />
                            <span>Realizar Prueba</span>
                        </div>
                    </div>
                </div>
               </div>
            </section>    
    </section>
</Menu2>
<script src="/src/layouts/script.js"></script>
<style>
    .mini-main-i {
        margin-left: 80px;
    }
    .fondo{
        background: hsla(113, 100%, 37%, 1);

background: linear-gradient(90deg, hsla(113, 100%, 37%, 1) 0%, hsla(102, 87%, 63%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(113, 100%, 37%, 1) 0%, hsla(102, 87%, 63%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(113, 100%, 37%, 1) 0%, hsla(102, 87%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#16BD00", endColorstr="#80F34E", GradientType=1 );
    }
    .fondo2{
        background: hsla(289, 100%, 37%, 1);

background: linear-gradient(90deg, hsla(289, 100%, 37%, 1) 0%, hsla(297, 86%, 63%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(289, 100%, 37%, 1) 0%, hsla(297, 86%, 63%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(289, 100%, 37%, 1) 0%, hsla(297, 86%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9A00BD", endColorstr="#EA4EF2", GradientType=1 );
    }
    .fondo3{
        background: hsla(5, 70%, 50%, 1);

background: linear-gradient(90deg, hsla(5, 70%, 50%, 1) 0%, hsla(37, 86%, 63%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(5, 70%, 50%, 1) 0%, hsla(37, 86%, 63%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(5, 70%, 50%, 1) 0%, hsla(37, 86%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D83426", endColorstr="#F2B34E", GradientType=1 );
    }
    .fondo4{
        background: hsla(240, 100%, 37%, 1);

background: linear-gradient(90deg, hsla(240, 100%, 37%, 1) 0%, hsla(253, 86%, 63%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(240, 100%, 37%, 1) 0%, hsla(253, 86%, 63%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(240, 100%, 37%, 1) 0%, hsla(253, 86%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0000BB", endColorstr="#714EF2", GradientType=1 );
    }
    .fondo5{
        background: hsla(53, 100%, 41%, 1);

background: linear-gradient(90deg, hsla(53, 100%, 41%, 1) 0%, hsla(63, 86%, 63%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(53, 100%, 41%, 1) 0%, hsla(63, 86%, 63%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(53, 100%, 41%, 1) 0%, hsla(63, 86%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D0B700", endColorstr="#EAF24E", GradientType=1 );
    }
    .fondo6{
        background: hsla(0, 100%, 41%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 41%, 1) 0%, hsla(0, 86%, 63%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 41%, 1) 0%, hsla(0, 86%, 63%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 41%, 1) 0%, hsla(0, 86%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D10000", endColorstr="#F24E4E", GradientType=1 );
    }
</style>